@import '../../helpers/variables.scss';

.container {
	display: flex;
    justify-content: flex-start;
	overflow-y: scroll;
    height: 7.5rem;
	margin: 2rem auto 0 auto;
	grid-gap: 1rem;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
    width: 5rem;
    min-width: 3.5rem;
	height: 6rem;
	border-radius: 1rem;
	background-color: $BgOpacity50;

    &_midnight {
        background-color: $BgOpacity60;
    }
}

.weather {
	display: flex;
	align-items: flex-end;
	height: 1rem;
	width: 1rem;
}
