@import '../../helpers/variables.scss';

.form {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 20rem;
    height: 2rem;
};

.searchbar {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    padding-left: 3rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
    border: 2px solid transparent;
    background-color: $BgOpacity25;

    &_error {
      border: 2px solid red;
      background-color: rgba(255, 2, 2, 0.25);
    }
};

.magnifier{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: url('../../assets/img/loupe.svg');
    background-repeat: no-repeat;
    background-size: contain;
};