@import '../../helpers/variables.scss';

.footer {
    position: static;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 8rem;
    background-color: $BgOpacity50;
};

.michel {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &_links {
        display: flex;
        justify-content: space-between;
        width: 6rem;
    }

    & img {
        width: 1.2rem;
        height: 1.2rem;
    }
}

.enola {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    & img {
        height: 1rem;
        width: 1rem;
    }
}

.names {
    font-size: 0.8rem;
}