// header
$headerColor: white;

// body
$bodyBgColor:#61A6CF;
$bodyBgColor20:rgba(97, 166, 207, 0.5);
$bodyTextColor: white;

// submit button
$submitBGColor: grey;
$submitTextColor: black;

$unitBgColorActive: rgba(37, 37, 37, 0.918);;
$unitTextColorActive: grey;

$BgOpacity25: rgba(0, 0, 0, 0.25);
$BgOpacity50: rgba(0, 0, 0, 0.5);
$BgOpacity60: rgba(0, 0, 0, 0.60);
$BgOpacity95: rgba(0, 0, 0, 0.95);