@import '../../helpers/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 2rem auto 0 auto;
	grid-gap: 1rem;
}

.day {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 4rem;
	border-radius: 0.5rem;
	text-align: center;
	background-color: $BgOpacity50;
}

.date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
	height: 100%;
	margin-left: 1rem;
	grid-gap: 0.2rem;
	text-align: left;

	&_date {
		font-size: 0.75rem;
		color: rgba(255, 255, 255, 0.5);
	}
}

.minmax {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 25%;

	&_div {
		display: flex;

		&_img {
			width: 1rem;
			height: 1rem;
		}
	}
}

.weather {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 25%;

	&_img {
		width: 2rem;
		height: 2rem;
	}
}

.temp {
	display: flex;
	justify-content: flex-end;
	width: 25%;
	margin-right: 1rem;
}

@media screen and (max-width: 900px) {

    .minmax {
    	justify-content: flex-end;
    }
}

@media screen and (max-width: 600px) {
    .minmax {
        height: 80%;
        font-size: 0.90rem;
    }

    .temp {
        font-size: 0.90rem;
    }

    .weather {

        &_img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .date {
        font-size: 0.75rem;
        margin-right: 1rem;

        &_date {
            font-size: 0.65rem;
        }
    }
}