.current {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    height: 18rem;
    margin: 2rem auto 0 auto;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: inset;
}

.city {
    font-size: 2rem;
    text-align: center;
}

.weather {
    width: 8rem;
    height: 8rem;
    font-size: 1.2rem;
}

.temp {
    font-size: 2.5rem;
}

.minmax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 2rem;

    &-div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 1rem;
    }
}

.error {
    font-size: 1.2rem;
    text-align: center;
}