@import '../../helpers/variables.scss';

.unit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    color: white;
    background-color: $BgOpacity25;
    cursor: pointer;

    &:active {
        background-color: $BgOpacity50;
    }
}

.geo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    color: white;
    background-color: $BgOpacity25;
    cursor: pointer;
    
    &:active {
        background-color: $BgOpacity50;
    }
    
    & > img {
        width: 1rem;
        height: 1rem;
    }

}

.left {
    position: absolute;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    left: -2.5rem;
    cursor: pointer;
    
    &_img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.right {
    @extend .left;
    left: auto;
    right: -2.5rem;

    &_img {
        @extend .left_img;
    }
}

