@import '../../helpers/variables.scss';

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 25vh;
	width: 25vh;
	transform: translate(-50%, -50%);
	background-color: $bodyBgColor20;
	border-radius: 1rem;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.text {
	text-align: center;
	font-size: 1.25rem;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
	width: 75%;
}

.button {
	width: 4rem;
	height: 2rem;
	border-radius: 0.5rem;
	background-color: $headerColor;
	font-size: 1rem;

	&:active {
		background-color: $unitBgColorActive;
	}
}

@media screen and (max-width: 450px) {
	.modal {
		width: 75%;
	}
}
